<mat-toolbar color="primary">
    <mat-toolbar-row>
     <button mat-icon-button (click)="toggleSideBar()">
        <mat-icon>menu</mat-icon>
     </button>
   
    <a  mat-button="" routerlink="/" aria-label="Logo" class="mat-focus-indicator docs-button mat-button mat-button-base" tabindex="0" aria-disabled="false" href="/"><span class="mat-button-wrapper"><img  src="./assets/logo.png" height= "20" width ="30" alt="MovieDiary" >
      
        <span class="logo-text" >Movie Tracker</span></span><div matripple="" class="mat-ripple mat-button-ripple"></div><div class="mat-button-focus-overlay"></div></a>

        <div fxLayout="row" fxLayoutGap="20px">

            <a  mat-button=""
            class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base ng-star-inserted"
            tabindex="0" aria-disabled="false" routerLink="/movies/search"><span class="mat-button-wrapper">Search Movie</span>
            <div matripple="" class="mat-ripple mat-button-ripple"></div>
            <div class="mat-button-focus-overlay"></div>
        </a>
    
        <a  mat-button=""
    class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base ng-star-inserted"
    tabindex="0" aria-disabled="false" routerLink="/tv/search"><span class="mat-button-wrapper">Search TV</span>
    <div matripple="" class="mat-ripple mat-button-ripple"></div> </a>
        </div>
      
        
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
<ul fxLayout="row" fxLayoutGap="20px">

    <li>
        <button mat-icon-button  routerLink="/help">

            <mat-icon>settings</mat-icon>
        </button>
    </li>
    <li>
        <button mat-icon-button  routerLink="/help">

            <mat-icon >help_outline</mat-icon>
        </button>
    </li>

    <li>

        <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>
                person_outline
            </mat-icon>
        </button>
<mat-menu #menu="matMenu">
  <button mat-menu-item><mat-icon>exit_to_app</mat-icon>Signout</button>
  
</mat-menu>
    </li>
</ul>

        </div>
    </mat-toolbar-row>
  </mat-toolbar>