<div id="search-bar">

  <h3 class="mat-h2"> Watched new movie ? How was the experience ?</h3>


  <div id="search-box">

    <form class="example-form">
      <mat-form-field class="example-full-width">


        <input #searchBox matInput type="search" aria-label="search" placeholder="search" type="text" aria-label="name"
          (input)="search(searchBox.value)">
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>
    </form>





  </div>




</div>
<mat-divider></mat-divider>



<div class="container">
  <div class="flex-container" fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px">
    <div fxflex="25%" *ngFor="let movie of movies$| async">

      <mat-card>



        <img mat-card-image class=" poster "
          [attr.src]=" movie.poster_path? movie.poster_path :'assets/fallback-poster.png'" (click)="openDialog(movie)"
          alt="{{movie.title}}">

        <mat-card-content (click)="openDialog(movie)">
          <p>{{movie.title}}

        </mat-card-content>

        <mat-card-actions>

          <div fxLayout="row wrap" fxLayoutAlign="space-evenly center" fxLayoutGap="50px"
            Flex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">



            <button color="accent" (click)="addToWatchList(movie)" mat-button mat-icon-button>
            
              <div  *ngIf="movie.addToWatchList">
                <mat-icon >
                  done
                </mat-icon>
                To Watch
              </div>
             
              <div  *ngIf="!movie.addToWatchList">

                <mat-icon >
                  playlist_add
                </mat-icon>Watchlist
               </div>
                  
              
            </button>
            <button color="accent" (click)="rateAndReview(movie)" mat-button mat-icon-button>
              <mat-icon>
                rate_review
              </mat-icon>Rate
            </button>
          </div>




        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
<!-- <div *ngIf="isNewAdd  && searchBox.value !=''">

   

    <app-add-movie [movieSearchDetails]=movieSearchDetails></app-add-movie>


  </div> -->


<ng-template #callAPIDialog let-data>

  <h1 mat-dialog-title> {{data.title}}</h1>
  <div mat-dialog-content>
    <div>
      <h4 class="mat-h4">
        Overview
      </h4>
    </div>
    <div>
      <p class="mat-body">{{data.overview}}</p>
    </div>

    <div>
      <strong><bdi>Langugage</bdi></strong> {{data.original_language}} 
     

    </div>
    <strong><bdi>Released On</bdi></strong> {{data.release_date}} 
  
  </div>

</ng-template>