

  mat-card
  {
     
           margin-top: 20px;
              margin-left: 20px;
        width: 80%;
          
         
    
      
  }
  .imdb-icon-color
{
      background-color: #f3ce13 ;
}
  .example-option-img {
    vertical-align: middle;
    margin-right: 3px;
  }
  
  [dir='rtl'] .example-option-img {
    margin-right: 0;
    margin-left: 3px;
  }
  
  #search-bar
  {
    padding-left: 10px;;
  }
  mat-icon{
    position: relative;
  top: 7px;
}
  #search-box{
  
    
   
    align-items: center;
    width: 100%;
    min-width: 150px;
    height: 100%;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-right: 16px;
    padding-left: 2px;;
  }
  .search-box > input{
  
  
  
      border: none;
      border-radius: 100px;
     
      padding: 5px 16px;
      margin-left: 8px;
   
      
      height: 50%;
      } 
  /* 
    .example-option-img {
      vertical-align: middle;
      margin-right: 8px;
    }
   #search-box > input{
  
  
  
      border: none;
      border-radius: 100px;
     
      padding: 5px 16px;
      margin-left: 8px;
      width: 100%;
      
      height: 50%;
      -webkit-appearance: none;} */