<mat-nav-list>

    <div class="profile-card">
        <div class="header">
            <h4> Avinash</h4>
            <h4>avinashkris9</h4>
        </div>
      
        </div>
    
        <mat-divider></mat-divider>
        <h2 matSubheader> Pages</h2>

        <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin">Dashboard</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/movies">Movies</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/tv">Tv Series</a>
        <mat-divider>
            
        </mat-divider>
</mat-nav-list>