/** No CSS for this example */
mat-card {
  margin-bottom: 10px;
  width:500px;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}
.poster{
  /* adjust as needed */
   object-fit: contain;
   max-width: 185px;
   max-height: 275;
 }

 mat-card-image
 {
   padding-left: 10px;
 }
.card-deck-container {
   
  
 

  height: auto;
 
  vertical-align: top;
  cursor: pointer;
  margin-bottom: 5px;
  margin-top:5px;
  margin-left: 5px;
  margin-right: 5px;
}
mat-paginator {
  display: flex;
  justify-content: left;
  margin-top:5px;
  margin-left: 5px;
  margin-right: 5px;
} 


mat-card-content
{
  word-wrap: break-word;
}


#loading-spinner
{
  position: absolute;
  height: 100px;
  width: 100px;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
}

.poster{
  /* adjust as needed */
   object-fit: contain;
   max-width: 185px;
   max-height: 275;
 }
