mat-card
{
   
         margin-top: 20px;
            margin-left: 20px;
      width: 80%;
      word-wrap: break-word;
       
  
    
}

.imdb-icon-color
{
      background-color: #f3ce13 ;
}
#review {
      word-wrap: break-word;
      white-space: pre-wrap !important;
    }
    .review-data{
      white-space: pre-wrap !important;
    }
.poster{
     /* adjust as needed */
      object-fit: contain;
      max-width: 185px;
      max-height: 275;
    }

    .mat-list-icon {
      color: rgba(0, 0, 0, 0.54);
    }

   