mat-card
{
   
         margin-top: 20px;
            margin-left: 20px;
      width: 80%;
        
       
  
    
}
#review {
      word-wrap: break-word;
    }
.poster{
     /* adjust as needed */
      object-fit: contain;
    }