
<div id="movie-details" layout-fill>


  <mat-card class="card">

  <mat-card-header>
  
    <mat-card-title-group>
        <mat-card-title>
          {{movie.name}}
        </mat-card-title>
        <mat-card-subtitle>
          <strong><bdi>Original Language:</bdi></strong> {{movie.originalLanguage}} 
        </mat-card-subtitle>
    </mat-card-title-group>
    <div fxFlex></div>
   <button mat-icon-button matTooltip="Click to Delete" class="iconbutton" color="warn">
      <mat-icon aria-label="Delete" (click)="deleteMovie(movie)">delete</mat-icon>
    </button>
</mat-card-header> 
 



  <!-- content -->
  <mat-card-content>

      <div fxLayout="row wrap"  fxLayout.lt-sm="column"  fxLayoutAlign="space-between center"  fxLayoutGap="10px">

        <div fxFlex="20"  fxLayoutAlign="flex-start"
        fxFlex.lt-md="0 1 calc(50% - 32px)"
        fxFlex.lt-sm="100%">
          
        
          <img class="poster" [attr.src]=" movie.posterPath? movie.posterPath : 'assets/logo.png'"
          alt="{{movie.name}}" >
        </div>
        <div fxLayout="column" fxFlex fxFlexFill fxLayoutAlign=”flex-start” fxFlex.lt-md="0 1 calc(50% - 32px)"
        fxFlex.lt-sm="100%">
          <div fxFlex="30">
            <span *ngFor="let number of [1,2,3,4,5] | slice:0:movie?.rating; let i = index;">
              <fa-icon [icon]="faStar" style="color:gold"></fa-icon>
            </span>
          </div>
          <div fxFlex="30">
            <strong><bdi>Released on</bdi></strong> {{movie.releaseDate}} 
          </div>
          <div  fxFlex="30" style="padding-top:10px;"> 
          
            <a class="imdb-icon-color" mat-raised-button  href="{{movie.imdbId}} ">IMDb</a>
           
            <!-- <strong><bdi>Imdb Id:</bdi></strong> {{movie.imdbId}}  -->
          </div>


          <div fxFlex="30"> <p>
          {{movie.overView}}
        </p></div>
         
        </div>
      </div>
        
   
 
  </mat-card-content>
  <mat-card-footer >
    <div fxLayout="row wrap"  fxLayout.lt-sm="column"  fxFlexFill fxLayoutAlign="flex-start"  fxLayoutGap="10px">

   
      <div fxFlex="20"  fxLayoutAlign="center center"
      fxFlex.lt-md="0 1 calc(50% - 32px)"
      fxFlex.lt-sm="100%">
    <h6 class="mat-button mat-primary mat-icon-buttonmat-primary mat-stroked-buttonmat-primary ">  Last Watched on {{ movie.lastWatched}}</h6>
      </div>

      <div fxFlex="20"  fxLayoutAlign="center center"
      fxFlex.lt-md="0 1 calc(50% - 32px)"
      fxFlex.lt-sm="100%">
      <h6 class="mat-button mat-primary mat-icon-buttonmat-primary mat-stroked-buttonmat-primary "> Total Watch

              <fa-layers [fixedWidth]="true" >
                <fa-icon [icon]="faCalendar">
                </fa-icon>
                <fa-layers-text [inverse]="true" transform="shrink-8 down-3" style="font-weight:900"
                  content="{{movie.numberOfWatch}}">


                </fa-layers-text>

              </fa-layers>

            </h6>
      </div>
      <div fxFlex="20"  fxLayoutAlign="center center"
      fxFlex.lt-md="0 1 calc(50% - 32px)"
      fxFlex.lt-sm="100%">
      <button mat-button (click)="openUpdateDialog()" color="primary">

        Watched Again
        <mat-icon>add_circle</mat-icon>
      </button>
      </div>
    </div>
   
   
  </mat-card-footer>
</mat-card>
<mat-divider></mat-divider>
<div id="review">

  
<mat-card>
  <mat-card-title> Reviews</mat-card-title>
    <mat-card-content>
  
      <mat-list role="list" *ngFor="let reviewData of movie.reviews">
        <mat-list-item role="listitem">
   
          <mat-icon mat-list-icon>label</mat-icon>
          <div mat-line> <em  class="mat-body-strong">{{reviewData.lastReviewed | date}} </em></div>
          <div mat-line class="review-data">
            
            <p>{{reviewData.review}}</p>
          
          </div>
          
        </mat-list-item>
      </mat-list>     
        
    
  
  
    </mat-card-content>
  </mat-card>
</div>
</div>