<div class="layout-container">

    <!-- (toggleSideBarForMe)="sideBarToggler()"  -->
    <app-header  (click)="sidenav.toggle()" > </app-header>

<!-- <mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen" >  

        <mat-sidenav-container></mat-sidenav-container>
        <app-sidebar></app-sidebar>   </mat-drawer>

    <mat-drawer-content>
        
<router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>

<app-footer></app-footer> -->
<!-- fxHide.lt-sm="true"  -->
<mat-sidenav-container  fxFlexFill class="example-sidenav-container">
<mat-sidenav (click)="sidenav.toggle()"  #sidenav mode="side"  [opened]="sideBarOpen" fxLayout="column"  fxShow  >
    <app-sidebar></app-sidebar>
</mat-sidenav>

<mat-sidenav-content fxFlexFill>
 <router-outlet></router-outlet>
</mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>
</div>