/* .panel
{

     display: flex;
   


}

.flex-container {
  display: flex;
  flex-direction: row;
}
.align-horizontal
{
    
        display: flex;
        
   
}

.cards
{
    padding: 20px;
    display: inline-block;
}
.movie-details
{
    padding: 20px;
} */

.review-data{
  white-space: pre-wrap !important;
}
mat-card
{
   
         margin-top: 20px;
            margin-left: 20px;
         max-width: 1500px;
/*    width: 75%;*/
      width: 78% ;
  
    
}

.poster{
  /* adjust as needed */
   object-fit: contain;
   max-width: 185px;
   max-height: 275;
 }
